.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem max(10%, 0);
  min-width: 20rem;
  max-width: 75rem;
  margin: 0 auto;
}

.headerImage {
  position: relative;
  min-height: 18rem;
  min-width: 18rem;
  z-index: -1;
  margin: auto;
  aspect-ratio: 1;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

@media screen and (min-width: 900px) {
  .headerImage {
    min-width: 20rem;
  }
}
